/* setup css*/
*, *::before, *::after {
    box-sizing: border-box;
    
  }

  body {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background-color: slategray;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    background-image: linear-gradient(to bottom right, black, slategray);
    
  }
  
  .box, .inner-box {
    display: block;
    width: 60vw;
    margin: 70px auto;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 8px 14px 0 rgba(0,0,0,1);
    transition: 0.3s;
    background-color: rgba(180, 202, 129, 0.728);
    padding-top: 20px;
    border-radius: 2%;
  }
  

  